.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}


.background-home{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../statics/hacker.jpg');
  background-size: cover;
  background-position: center;
}
