.details-container{
  margin-top: 70px;
  margin-bottom: 20px;
}


.titre-details{
  text-align: center;
  margin-bottom: 20px;
}

.product-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.product-item h2 {
  margin: 0;
  font-size: 1.5em;
}

.product-item p {
  margin: 5px 0;
}
